:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

.container {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 30px;
}

.background-image {
    background: url('../images/background.png');
    background-size: 100% 100%;
    padding-top: 4rem;
}

.background-default {
    background-color: var(--body-background);
}

body {
    background-color: var(--body-background);
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-nav .options-nav a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: normal;
    padding: 0 1rem;
}

#main-nav .connect {
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    padding: 0.5rem 2rem;
}


#main-nav .connect {
    color: var(--black-text);
    font-size: 16px;
}

#main-nav .connect a {
    color: var(--black-text);
    font-weight: bold;
}

#main-nav .connect img {
    padding-right: 1rem;
}

#main-background {
    margin-top: 4rem;
}

#main-background .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

#main-background .container .description p {
    font-size: 18px;
    font-weight: normal;
    color: var(--text-color);
}

#main-background .container .description p:first-child {
    margin-bottom: 1rem;
}

#main-background .container .description span {
    font-size: 18px;
    font-weight: normal;
    color: var(--text-color);
}

#main-background .container .title-description h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
}

#main-background .container .title-description span {
    color: var(--color-logo);
}

#astronauts {
    margin-top: 2rem;
}

#astronauts .container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#astronauts .container ul li {
    margin-top: 1rem;
}

#astronauts .container ul li img {
    border: 2px solid var(--text-color);
}

#background-default {
    border-bottom: 2px solid var(--subtitle-color);
}

#background-default .container {
    display: flex;
}

#background-default .container .infos {
    border-right: 2px solid var(--subtitle-color);
}

#background-default .container .infos .list ul {
    margin: 4rem 8rem 4rem 0;
}

#background-default .container .infos .list ul {
    margin: 4rem 4rem 4rem 0;
}

#background-default .container .infos .list ul {
    margin: 4rem 4rem 4rem 0;
}

#background-default .container .infos .list ul li {
    padding: 2rem;
}

#background-default .container .infos .list ul li h1 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: 500;
}

#background-default .container .infos .list ul li p {
    color: var(--subtitle-color);
    font-size: 20px;
    font-weight: 500;
}

#background-default .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#background-default .container .content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#background-default .container .content div div {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

#background-default .container .content div div p {
    font-size: 18px;
    font-weight: normal;
    color: var(--text-color);
}

#background-default .container .content div div p span {
    color: var(--color-logo);
}

#background-default .container .content div div a {
    font-size: 18px;
    font-weight: normal;
    text-decoration: underline;
    color: var(--text-color);
    margin-top: 3rem;
}